/* 2020.09.18. Look with HTML3-2*/
body{background-color: rgb(192, 201, 183);}
/* 
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
} */
