/* 2020.09.21. Look with HTML4 */
body{
    background-color: rgb(204, 181, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border-collapse: collapse ;
}
/* .table1, .table2 {
    border-collapse: collapse ;
} */

.tdgreen{
    color: blue;
}

#heading1 {
    color: red;
}
#heading2 {
    color: rgb(204, 181, 226);
}
#heading3 {
    color: rgba(red, green, blue, alpha);
}

#button {
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    background-color: green;
    color: yellow;
    border: 1px solid lightseagreen;
    border-radius: 8px;
    /* opacity: .5; */
}

#table1{
    width: 100%;
    border-collapse: collapse;
}

/* #table1>td */
#table1 td{
    text-align: center;
}

/* #table1>tbody */
#table1 tbody tr:nth-child(even){
    background-color: magenta;
}

#table1 td+td{
    color: grey;
}

#table1 tbody p+span{
    color: violet;
}

#table1 p~span{
    color: black;
}

.klucitis{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: tomato;
    border: 2px solid red;
    margin: 20px 30px;
}

#klucisi{
    background-color: #777;
    padding: 10px 40px 60px 80px;
}

#button:hover{
    background-color: blueviolet;
}

#button:active{
    background-color: chartreuse;
    box-shadow: 2px 2px 2px darkblue;
}
/* 
reset css
user-agent

Colors:
color - for font
background-color
border
box-shadow

named colors: aliceblue, gray
RGB - #ffffff; (HEX system 16)
HEX 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F;
16*16=256

rgb(255, 255, 255)
rgba(255, 255, 255 ,5)
HSA
HSL

*/