html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body{
   background-color: rgb(201, 201, 201);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0 auto;
}

#header a, #footer a {
   color: rgb(0, 225, 255);
}

#container {
   min-height:100%;
   position:relative;
   
}
#header {
   background-color: #000000;
   padding: 20px;
   width:100%;
   color: aliceblue;
   color: darkgray;

}
#body {
   padding:20px;
   padding-bottom:60px;   /* Height of the footer */
   
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: #000000;
   text-align: center;
   color: aliceblue;
   /* padding: 20px; */
}