/* 2020.09.24 Fur Bootstrap/ Look with fl6-2.html */
.container{
    background-color: rgb(0, 225, 255)
}

.container-lg{
    background-color: rgb(0, 255, 64)
}

.col{
    background-color: violet;
}

#tmp1{
    background-color: brown;
    color: yellow;
}
