/* 2020.09.21. Look with HTML4 */
/* (0:05:) */
/* body{
    background-color: rgb(201, 201, 201);
    /* (2:54:) */
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
} */


/* (1:36:) */
/* html{color: greenyellow;} */

/* (0:07:) */
table{
    border-collapse: collapse ;
}

/* (0:15:) */
/* .table1, .table2 {
    border-collapse: collapse ;
} */

/* 0:39: */
.tdgreen{
    color: green;
}

/* (2:52:) */
input{outline: none;}

/* (0:32:) */
#heading1 {
    color: red;
}
#heading2 {
    color: rgb(204, 181, 226);
}
/* (0:55:) colors */
#heading3 {
    color: rgba(red, green, blue, alpha);
}

/* (1:06:)(2:41/45/49/59:) */
#button {
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    background-color: green;
    /* background: linear-gradient(green, lightseagreen, red); */
    color: yellow;
    border: 5px solid lightseagreen;
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    margin: 5px;
    margin-bottom: 40px;
    /* opacity: .5; */
    user-select: none;
    cursor: pointer;
}

/* (2:46:) */
#button:hover{
    background-color: blueviolet;
}

/* (2:47:) */
#button:active{
    background-color: chartreuse;
    box-shadow: 2px 2px 2px darkblue;
}

/* {2:20/29:}2 */
.klucitis{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: olivedrab;
    border: 2px solid red;
    /* margin conflikts with padding */
    margin: 20px 30px;
    /* with auto - responsive */
    /* margin: 20px auto; */
}

/* (2:20/22/29:) */
#klucisi{
    background-color: pink;
    /* to activate padding, turn off margin */
    /* padding: 10px 40px 60px 80px; */
}


/* (1:28:) */
#table1{
    width: 100%;
    border-collapse: collapse;
}

/* (1:31:) */
/* #table1>td */
#table1 td{
    text-align: center;
}

/* (1:47:) */
/* #table1>tbody */
/* (1:43:) */
#table1 tbody tr:nth-child(even){
    background-color: magenta;
}

/* (1:49:) */
#table1 td+td{
    color: grey;
}

/* (1:54:)(2:10:) */
#table1 tbody p+span{
    color: violet;
}

/* (1:54:)(2:00:) */
#table1 p~span{
    color: black;
}




/* 
(0:34:)
reset css
user-agent

(0:42:)
Colors:
color - for font
background-color
border
box-shadow

named colors: aliceblue, gray
RGB - #ffffff; (HEX system 16)
HEX 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F;
16*16=256

rgb(255, 255, 255)
rgba(255, 255, 255 ,5)
HSA
HSL

*/